html,
body {
  font-size: 10px;
  font-family: Cinzel, serif;
  height: 100%;
  background-image: url('https://nodeguardians.io/_next/image?url=%2Fassets%2Ftextures%2Fbackground-2.webp&w=1800&q=100');
  background-size: 100% 100%;

}

* {
  margin: 0;
  padding: 0;
}

/* #container {
  background-image: url('https://nodeguardians.io/_next/image?url=%2Fassets%2Ftextures%2Fbackground-2.webp&w=1800&q=100');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: 1px solid #92b901;
  display: block;
  min-height: 100%;
  min-width: 100%;
} */

/* .container {

  background-image: url("https://nodeguardians.io/_next/image?url=%2Fassets%2Ftextures%2Fbackground-2.webp&w=1800&q=100");
  background-repeat: "no-repeat";
  background-size: "cover";
  height: '100vh';
  width: '100vh';
} */

#App {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  --primary-color: #1266cc;
  --secondary-color: #f96400;
  --flash-color: rgb(89, 255, 0);
  --gray: #999;
  --light-gray: #e0e0e0;
  --dark-gray: #777;
  background-image: url("https://nodeguardians.io/_next/image?url=%2Fassets%2Ftextures%2Fbackground-2.webp&w=1800&q=100");

}

#App .container {
  width: 40%;
  min-width: 60rem;
  max-width: 75rem;
  height: 100%;
}

code {
  display: block;
  white-space: pre-wrap;
  padding: 1.2rem 2rem;
  border-radius: 1rem;
  background-color: var(--light-gray);
  font-size: 1.4rem;
}

code span {
  transition: all 0.3s;
}

code span.primary-color {
  color: var(--primary-color);
}

code span.secondary-color {
  color: var(--secondary-color);
}

code span.dim-color {
  color: var(--gray);
}

code span.flash {
  background-color: var(--flash-color);
}

details {
  margin: 1.6rem 0;
  padding: 0.5rem 2rem 0.5rem 0;
  border: 1px solid var(--light-gray);
  border-radius: 1rem;
}

details :not(summary, span) {
  margin-left: 2.55rem;
}

details summary {
  padding: 1.2rem;
  cursor: pointer;
}

p,
details code {
  margin-top: 1rem;
  margin-bottom: 1.4rem;
}

p {
  line-height: 2.6rem;
  color: #f96400;
}

p span.code {
  font-family: monospace;
  color: var(--gray);
}

hr {
  margin: 4rem 0;
}

#App .container .welcome h1 {
  padding-top: 7.5rem;
  font-size: 2.6rem;
}

#App .container .demo .contract-container {
  display: flex;
}

#App .container .demo .contract-container code {
  min-width: 42rem;
  border-radius: 1rem 0 0 1rem;
}

#App .container .demo .contract-container .btns {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 1rem;
  background-color: var(--gray);
  border-radius: 0 1rem 1rem 0;
}

#App .container .demo .contract-container .btns>* {
  width: 12rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  background-color: var(--light-gray);
  border: none;
  font-size: 1.2rem;
  font-family: monospace;
  cursor: pointer;
}

#App .container .demo .contract-container .btns>*:hover {
  background-color: var(--dark-gray);
}

#App .container .demo .contract-container .btns .input-btn input {
  width: 4rem;
  text-align: center;
  font-family: monospace;
  font-size: 1.2rem;
}

#App .container footer {
  padding-bottom: 7.5rem;
}

#App .container footer a {
  display: inline-block;
  margin: 2rem 1rem 0 0;
}

.textStyle {
  display: inline-block;
  -webkit-tap-highlight-color: transparent;
  font-size: 0.9rem;
  line-height: 1.35rem;
  text-align: left;
  font-style: normal;
  font-weight: 400 !important;
  background-color: transparent;
  text-transform: uppercase !important;
}

label {
  font-family: Cinzel;

}


.item-menu {
  font-size: 16px;
  font-weight: 550 !important;
  transition: ease-in-out 0.3s;
  cursor: pointer !important;
  background-color: transparent;
  border: 0;
  text-transform: uppercase;
  padding: 10px 0;
  margin-right: 10px;
  font-family: Cinzel;
}


.item-menu:hover {
  transform: translateY(-2px);
  text-shadow: 0px 0px 6px rgb(254, 234, 15);
  color: #fff5f5 !important;

}

.item-menu-beta {
  font-size: 9px;
  margin: 5px 5px;
}

/***** Modal ******/




.generic-text-font1-uppercase {
  font-family: Cinzel;
  text-transform: uppercase !important;
}

.generic-text-font1 {
  font-family: Cinzel;
}

.generic-text-font2-uppercase {
  font-family: Lato;
  text-transform: uppercase !important;
}

.generic-text-font2 {
  font-family: Lato;
}

.generic-text-color {

  color: rgb(142, 142, 142);
}

.generic-text-color-white {

  color: #fff5f5;
}

.generic-text-color-yellow {

  color: rgb(159, 140, 108);
}

.generic-text-font2 {
  font-family: Lato;
}

.inventory-text-info {
  margin-top: 5px;
  margin-right: 5px;
  font-size: 25px;
}



/***** MODAL *****/
.modal-information-text {
  text-align: center;
  font-size: 16px;
}

.modal-main-content {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-bottom: 60px !important;
}


.header-modal-container {
  position: relative;
  text-align: center;
  color: #fff;
  font-size: 13px;
  text-transform: uppercase !important;
}

.header-modal-container .close-bt {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  color: #fff;
  background-color: transparent;
  border: 0;
}

.modal-picture-container {
  position: relative;
  text-align: center
}


.modal-picture-container::before {
  content: '';
  width: 41%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  border-radius: 100%;
  opacity: 0.5;
  display: block;
  position: absolute;
  background: radial-gradient(circle, rgba(235, 249, 1, 1) 35%, rgba(235, 249, 1, 0) 100%);
  filter: blur(32px);
}


.modal-picture-container img {
  max-width: 40%;
  position: relative;
  z-index: 1;
}

.generic-label-container {
  margin-bottom: 5px;
  color: #fff;
}

.modal-information-title {
  text-align: center;
  font-size: 14px;
}

.generic-label-container:first-of-type {
  font-weight: bold;
}

.text-modal-container {
  text-align: justify;
  flex: 1;
  overflow-y: auto;
  color: #fff;
}

.modal-submit {
  position: absolute !important;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
}


.decoration {
  position: absolute;
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
  height: 2px;
  bottom: 15px;
  left: 80%;
  right: 1px;
  background: linear-gradient(to right, rgb(190, 167, 126), rgba(190, 167, 126, 0))
}

.decoration-circle {
  width: 35px;
  height: 35px;
  border: 1px solid rgb(190, 167, 126);
  border-radius: 50%;
  /* padding: 4px; */
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  overflow: hidden;
}

.header-text-wallet {
  position: absolute !important;
  right: 100px;
  font-size: 12px;
  bottom: 25px;
}

.icon {
  color: rgb(190, 167, 126);
  cursor: "pointer";
}

::-webkit-scrollbar {
  width: 6px !important;
  border-radius: 10px !important;
}

::-webkit-scrollbar:horizontal {
  height: 6px !important;
  border-radius: 10px !important;
}

::-webkit-scrollbar-track {
  background-color: #000000 !important;
  border-radius: 10px !important;
}

::-webkit-scrollbar-thumb {
  background-color: #5d5d5d !important;
  border-radius: 10px !important;
}