
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,

body {
  max-height: 100vh;
  overflow-x: hidden;
  height: 100vw;
  width: 100vw;
  color: rgb(var(--foreground-rgb));
  background-image: url('https://nodeguardians.io/_next/image?url=%2Fassets%2Ftextures%2Fbackground-3.webp&w=1800&q=100');
  background-size: 100% 100%;
}

.div-full-screen {
  height: calc(100vh - 80px);
  width: 100vw;
}

.div-centered {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  /* background: var(--lightestgrey);  */
  border-radius: 6px !important;
  box-shadow: rgb(15, 15, 15) 0px 0px 6px inset;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: '6px';
  box-shadow: rgb(146, 146, 146) 0px 0px 6px inset;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(190, 167, 126, 0.5); 
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


/* ****** HEADER ****** */

.item-menu {
  font-size: 16px;
  font-weight: 550 !important;
  transition: ease-in-out 0.3s;
  cursor: pointer !important;
  background-color: transparent;
  border: 0;
  text-transform: uppercase;
  font-family: Cinzel;
}

.item-menu-non-active {
  color: rgb(142, 142, 142);
}

.item-menu-active {
  color: rgb(241, 242, 242);
}

.item-menu:hover {
  transform: translateY(-2px);
  text-shadow: 0px 0px 6px rgb(254, 234, 15);
  color: #fff5f5 !important;

}

.item-menu-beta {
  font-family: Lato;
  text-transform: uppercase !important;
  color: rgb(159, 140, 108);
  font-size: 12px;
  margin-bottom: 10px;
  margin-left: 5px;
}

.decoration {
  position: absolute;
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
  height: 2px;
  bottom: 15px;
  left: 80%;
  right: 1px;
  background: linear-gradient(to right, rgb(190, 167, 126), rgba(190, 167, 126, 0))
}

.decoration-circle {
  width: 35px;
  height: 35px;
  border: 1px solid rgb(190, 167, 126);
  border-radius: 50%;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  overflow: hidden;
}

.header-text-wallet {
  position: absolute !important;
  right: 100px !important;
  font-size: 12px !important;
  bottom: 25px !important;
  font-family: Lato !important;
  text-transform: uppercase !important;
}

.icon {
  color: rgb(190, 167, 126);
  cursor: "pointer";
  font-size: 20px !important;
}

/* *********************** */

.generic-button{
  border: 1px solid rgb(109, 98, 76) !important;
  color: rgb(241, 242, 242) !important;
  background-color: rgb(29, 28, 26) !important;
  cursor: pointer !important;
  border-radius: 5px !important;
  font-family: Cinzel, serif !important;
  font-weight: 900 !important;
}


.modal-submit {
  margin-top: 20px;
}

.generic-button:hover{
  background-color: rgb(39, 36, 32) !important;
  color: rgb(190, 167, 125) !important;
  border-color: rgb(190, 167, 125) !important;
}

.modal-main-content {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: rgb(29, 28, 26);
  border: 1px solid rgb(159, 140, 108);
  /* box-shadow: 24px; */
  border-radius: 2px;
  padding: 10px 20px;

  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.modal-details-content {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  background-color: rgb(29, 28, 26);
  border: 1px solid rgb(159, 140, 108);
  border-radius: 2px;
  padding: 10px 20px;
}

.filter-inventory-icon{
  height:50%;
  cursor: pointer;
}
.filter-inventory-box{
  background:linear-gradient(135deg, rgba(255, 255, 244, 0) 0%, rgba(255, 255, 244, 0.314) 100%);
  height: 60px;
  width: 60px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-inventory-box-selected{
  background: radial-gradient(circle, rgb(190, 167, 125) 10%, rgba(235, 249, 1, 0) 100%);
}

.item-details-input{
  border: 1px solid rgb(159, 140, 108);
  background-color: rgb(29, 28, 26);
  color: rgb(159, 140, 108);
  border-radius: 5px;
  padding: 5px;
  text-align: right;
}

input:focus { 
  outline: none !important;
  border-color: rgb(159, 140, 108);
  box-shadow: 0 0 10px rgb(159, 140, 108);
}

.mp-filter-sales{
  padding:5px 10px;
  border:1.5px solid rgb(51, 51, 51);
  border-top:none;
  border-radius:5px;
  margin-bottom:10px;
  margin-left: 2px;
  cursor: pointer;
}

.mp-filter-sales-selected{
  color:rgb(241, 242, 242);
  background: radial-gradient(circle, rgba(190, 167, 125, 0.763) 5%, rgba(235, 249, 1, 0) 100%);
}

